html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto;
    color: #2d3c49;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

header,
nav,
footer,
section,
article,
div {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/*
 *
 * Header
 *
 */
.header {
    padding: 15px 10px 10px 10px;
    height: 95px;
}

.header__logo {
    height: 50px;
    vertical-align: top;
    margin: 10px 0 10px 10px;
}

.header__inner {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    margin-left: auto;
    line-height: 2.5em;
}

.header__name {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
}

.header__caption {
    text-transform: uppercase;
    font-weight: 100;
    float: right;
    font-size: 1em;
}

.hr__line {
    border: none;
    height: 3px;
    color: #7d97ad;
    background-color: #7d97ad;
}

.body__img {
    width: 100%;
    padding: 10px 0 0 0;
}

/*
 *
 * Project details
 *
 */
.featured__work__label {
    color: #7d97ad;
    font-weight: 400;
    padding: 15px 0 15px 0;
}

.project__img {
    width: 28%;
    height: 100%;
    border-radius: .25rem;
    max-width: 100%;
}

.project__info {
    padding-left: 10px;
    width: 70%;
}

.project__name {
    text-transform: uppercase;
    font-size: 1.2em;
}

.project__link__div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.project__link {
    text-decoration: none;
}

.project__details {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

@media screen and (min-width:550px) and (max-width:849px) {
    .header {
        padding: 50px 30px 30px 30px;
        height: unset;
    }

    .header__name {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .header__logo {
        height: 62px;
    }

    .featured__work__label {
        font-size: 1.5em;
        padding: 25px 0 25px 0;
    }

}

@media screen and (min-width:550px) {
    .project__img {
        width: 100%;
        border-radius: .25rem;
        max-width: 100%;
        height: 80%;
    }

    .project__details {
        float: left;
        margin-right: 10px;
        width: calc((100% - 20px)/3);
    }

    .project__details:last-of-type {
        margin-right: 0;
    }

    .project__name {
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .project__link {
        text-align: center;
    }

    .project__info {
        width: 100%;
    }

}

@media screen and (min-width:850px) {
    main,
    section,
    .header__inner,
    .hr__line,
    .content {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        padding: 50px 30px 50px 30px;
        height: unset;
    }

    .header__name {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .header__caption {
        font-weight: 400;
        float: right;
    }

    .header__logo {
        height: 72px;
    }

    .hr__line {
        padding: 0 50px 0 50px;
    }

    .body__img {
        height: 80%;
        padding: 25px 0 35px 0;
    }

    .featured__work__label {
        font-size: 2em;
        padding: 0 0 25px 0;
    }

}